.pictures{
    height: 800px;
}
.caption{
    margin-bottom: 300px;
}
.title{
    width: 50%;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(158, 13, 13) !important;
}
.description{
    width: 30%;
    font-size: 25px;
    color: #faf4f4 !important;
}
.picture-button{
    width: 8%;
    height: 40px;
    font-weight: 700 !important;
    border-radius: 20px !important;
    margin-right: 1200px !important;
}