.pictures{
    height: 800px;
}
.caption{
    margin-bottom: 300px;
}
.title{
    width: 50%;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(158, 13, 13) !important;
}
.description{
    width: 30%;
    font-size: 25px;
    color: #faf4f4 !important;
}
.picture-button{
    width: 8%;
    height: 40px;
    font-weight: 700 !important;
    border-radius: 20px !important;
    margin-right: 1200px !important;
}

/* card section start */

.parent-class {
    margin-left: 3px !important;
   
   
}
.sub-class{
    width: 400px !important;
    height: 400px !important;
   
}

.images{
    height: 150px !important;  
    object-fit: contain;
    column-gap: 10px !important;
    
    
}
.card-body{
    text-align: center;
}

.card-title{
    font-size: 20px;
    
}
.card-text{
    font-size: 15px;
}
.card-price{
    font-size: 18px;
    color: rgb(191, 9, 9);
    font-weight: 700;
}
/* card section end  */



/* Fare section start  */

.fare-text{
    font-size: 30px;
    font-weight: 300;

}
.dropdown-fares{
    column-gap: 10px!important;
}

.dropdown-content{
    font-size: 30px;
    border-color: none;
}